@use "../mixins/mixins" as *;

@include b(editor-canvas) {
  position: relative;
  margin: auto;
  background-size: 100% 100% !important;

  // 编辑模式样式
  @include m(edit) {
    cursor: default;
  }

  // 预览模式样式
  @include m(preview) {
    pointer-events: none;
  }

  // 形状组件样式 - 锁定状态
  @include e(shape-locked) {
    opacity: 0.5;

    &:hover {
      cursor: not-allowed;
    }
  }

  // 形状组件样式 - 编辑状态
  @include e(shape-editing) {
    border: 1px dashed #409eff;
  }

  // 形状组件样式 - 调整大小状态
  @include e(shape-resizing) {
    border: 1px solid #409eff;
  }

  // 形状组件样式 - 拖拽状态
  @include e(shape-dragging) {
    opacity: 0.8;
    z-index: 1000;
  }
}

