@use "../mixins/mixins" as *;

/* ==================== 形状容器样式 ==================== */
@include b(editor-shape) {
  position: absolute;

  /* ==================== 调整点样式 ==================== */
  @include e(point) {
    position: absolute;
    background: #fff;
    border: 1px solid #59c7f9;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    z-index: 1;
  }

  /* ==================== 内部容器样式 ==================== */
  @include e(inner) {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 100% 100% !important;
  }
}

