@use "../mixins/mixins" as *;

@include b(sandbox-preview) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 99999;
  overflow: hidden;

  @include e(area-item) {
    position: absolute;
  }
}

